[submodule "packages/cm-web-client"]
	path = packages/cm-web-client
	url = https://github.com/robertoperezl763/cm-we-client.git
[submodule "packages/cm-backend-service"]
	path = packages/cm-backend-service
	url = https://github.com/robertoperezl763/cm-backend-service.git
